* {
		font-family: 'Lato', sans-serif;
	}

	#container {
		width:480px;
		margin:0 auto;
	}

	#header {
		width:480px;
		height:110px;
		background-color: #324C5D;
   }

   #header .menu {
   	padding-left:40px;
   }

   .menu {
   		padding:0px;
   		list-style: none;
   }
	
	.menu li.esq {
		float:left;
		margin-right:30px;
	}

	.menu li.dir {
		float:right;
		margin-right:30px;
	}

	.menu li {
		line-height: 110px;
		color:#EFC94C;
		height:100%;
	}

	.menu .mes {
		font-size:24px;
		font-weight:300;
		text-transform: uppercase;
	}

	.menu .mes:after {
		margin-left:10px;
		content: url("../img/icon/seta.png");
	}

	/* Parte principal */

	#main {
		margin-top: 20px;
		margin-bottom:20px;
		min-height: 200px;
	}
	#main .dia {
		
		clear:both;
		width:480px;
	}
	#main .data {
		padding:0px;
		padding-left:26px;
		width:54px;
		float:left;
	}

	#main .eventos {
		padding:0px;
		padding-right:25px;
		float:right;
		width:375px;

	}

	#main .data {
		color:#E3793F;
		margin:0 auto;
	}

	#main .data .numero {
		font-weight: bold;
		font-size:25px;
	}

	#main .data .semana {
		font-size:13px;
	}

	#main .evento {
		width:375px;
		background-color: #46B19D;
		border: 2px none;
    	border-radius: 10px;
    	padding:5px;
    	padding-left:15px;
    	margin-top:10px;
    	font-size:12px;
	}

	#main .evento .titulo {
		font-weight: bold;
		width:210px;
	}

	#main .evento .local {
		width:210px;
		font-weight: lighter;
	}

	#main .evento .tags {
		width:210px;
		font-style: italic;
		padding:0px;
	}

	#main .evento .tags:before {
		background-color: #324C5D;
		border-style:none;
		border-radius:50%;
		display: inline-block;
		height:12px;
		width:12px;
		font-size: 9px;
		color:#E3793F;
		content: "#";
		text-align: center;
	}
	#main .evento .tags li {
		list-style: none;
		display:inline;
	}
	
	#main .evento .tags li:after {
		content: ",";

	}

	#main .evento .tags li:last-child:after {
    	content: "";
	}

	#footer {
		background-color: #E3793F;
		height:130px;
		clear:both;
		width:100%;
	}

	#footer div {
		margin:0 auto;
		width:260px;
		color:#FFF;
		font-size: 13px;
		padding-top: 10px;
	}

	#footer .menu { 
		float:right;
		margin-top:-20px;
		width:200px;
		}
