.evento-div {
  background-color: #FFEB9D;
  color: #174C59;
  text-shadow: 0 1px #AAA;
}
.evento-div hr {
  
}

.evento-titulo {
  background-color: #174C59;
  color: #E5E5E5;
  padding: 0.8em;
  margin: -1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.evento-dado {
  font-size: 0.8em;
  font-weight: bold;
}

.event-center {
  text-align: center;
}
