.evento-div {
  color: #174C59;
  text-shadow: 0 1px #CCC;
  margin: 0;
  padding: 0.4em;
}
.evento-div hr {
  
}

.evento-cartaz {
  max-width: 100%;
  max-height: 100%;
}

.evento-titulo {
  background-color: #174C59;
  color: #E5E5E5;
  margin: 0;
  padding: 0.4em;
  text-transform: uppercase;
  text-shadow: 0 1px #777;
}

.evento-dado {
  font-size: 0.8em;
  font-weight: bold;
  vertical-align: middle;
}

.event-center {
  text-align: center;
}

.event-panel {
  background-color: #FFEB9D;
}

.panel-outer {
  margin: -1em;
}

.evento-icone-hora {
  background: url('../img/wall-clock.svg') no-repeat left;
}
.evento-icone-data {
  background: url('../img/calendar.svg') no-repeat left;
}
.evento-icone-local {
  background: url('../img/map-marker.svg') no-repeat left;
}
.evento-icone {
  padding-left: 2.5em;
  min-height: 2.1em;
  background-size: 2em 2em;
}
