@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-agenda29:before {
	content: "\e000";
}
.flaticon-clock270:before {
	content: "\e001";
}
.flaticon-connection119:before {
	content: "\e002";
}
.flaticon-edit46:before {
	content: "\e003";
}
.flaticon-menu33:before {
	content: "\e004";
}
.flaticon-pencil78:before {
	content: "\e005";
}
.flaticon-user146:before {
	content: "\e006";
}
